.container {
  display: flex;
  flex-direction: column;
}

.btnDiv {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.languageBtn {
  position: relative;
  display: inline-block;
  margin: 0 0.5rem;
}

.languageBtn > span {
  position: absolute;
  top: 0.5rem;
  pointer-events: none;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check_toggle_round_flat:checked ~ .off {
  color: var(--color-safron);
}

input.check_toggle_round_flat:checked ~ .on {
  color: var(--color-neon);
}

.languageBtn > span.hi {
  left: 0;
  /* padding-left: 2px; */
  color: var(--color-neon);
}

.languageBtn > span.en {
  right: 0;
  color: var(--color-safron);

  /* padding-right: 2em; */
}

.check_toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check_toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check_toggle_round_flat + label {
  padding: 0;
  width: 6rem;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  border-radius: 5rem;
}
input.check_toggle_round_flat + label:before,
input.check_toggle_round_flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check_toggle_round_flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: (--color-neon);
  -webkit-moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  border-radius: 5rem;
}
input.check_toggle_round_flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 45%;
  background-color: var(--color-gray);
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
  border-radius: 55px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check_toggle_round_flat:checked + label {
}

input.check_toggle_round_flat:checked + label:after {
  margin-left: 44px;
}

.card {
  position: relative;
  margin: 2.5rem 10rem;
  padding: 2.5rem 0.75rem;
  width: fit-content;
  border-radius: 1.25rem;
  box-shadow: 0 15px 5rem rgba(0, 0, 0, 0.5);
}

.card:hover {
  background: transparent;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contentTitle h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  -webkit-transition: color 1.5s;
  -moz-transition: color 1.5s;
  -ms-transition: color 1.5s;
  -o-transition: color 1.5s;
  transition: color 1.5s;
}

.contentTitle h1:hover {
  color: var(--color-safron);
  text-decoration: none;
}

.titleText {
  font-size: small;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.content p {
  margin: 2rem 0rem;
  font-size: 1rem;
  font-weight: 200;
}

/* ==================== MEDIA QUERIES (Tablets) ==================== */
@media only screen and (max-width: 1200px) {
  .card {
    margin: 2.5rem 5rem;
  }

  .contentTitle h1 {
    font-size: 2rem;
  }

  .content p {
    font-size: 0.9rem;
  }

  .contentTitle {
    flex-direction: column;
  }

  .titleText {
    margin-top: 0.5rem;
  }

  .btnDiv {
    margin: 0.5rem;
  }

  .languageBtn {
    margin: 0.5rem;
  }

  .languageBtn > span {
    top: 0.25rem;
  }
}

/* ==================== MEDIA QUERIES (Big SmartPhones) ==================== */
@media only screen and (max-width: 600px) {
  .card {
    margin: 2.5rem 2.5rem;
  }

  .contentTitle h1 {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 0.75rem;
  }

  .contentTitle {
    flex-direction: column;
  }

  .titleText {
    margin-top: 0.5rem;
  }

  .btnDiv {
    margin: 0.5rem;
  }

  .languageBtn {
    margin: 0.5rem;
  }

  .languageBtn > span {
    top: 0.25rem;
  }

  .languageBtn > span.hi {
    left: 0;
    padding-left: 0.5rem;
  }

  .languageBtn > span.en {
    right: 0;
    padding-right: 0.5rem;
  }

  .check_toggle_round_flat + label {
    width: 4rem;
    height: 1.5rem;
  }

  .check_toggle_round_flat + label:after {
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 45%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
  }

  .check_toggle_round_flat:checked + label:after {
    margin-left: 24px;
  }
}

/* ==================== MEDIA QUERIES (Small SmartPhones) ==================== */
@media only screen and (max-width: 425px) {
  .card {
    margin: 2.5rem 1rem;
  }

  .contentTitle h1 {
    font-size: 1.25rem;
  }

  .content p {
    font-size: 0.5rem;
  }

  .contentTitle {
    flex-direction: column;
  }

  .titleText {
    margin-top: 0.5rem;
  }

  .btnDiv {
    margin: 0.5rem;
  }

  .languageBtn {
    margin: 0.5rem;
  }

  .languageBtn > span {
    top: 0.25rem;
  }

  .languageBtn > span.hi {
    left: 0;
    padding-left: 0.5rem;
  }

  .languageBtn > span.en {
    right: 0;
    padding-right: 0.5rem;
  }

  .check_toggle_round_flat + label {
    width: 3rem;
    height: 1.25rem;
  }

  .check_toggle_round_flat + label:after {
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 45%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
  }

  .check_toggle_round_flat:checked + label:after {
    margin-left: 24px;
  }
}
