.container {
  display: flex;
  flex-direction: column;
}

.btnDiv {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.languageBtn {
  position: relative;
  display: inline-block;
  margin: 0 0.5rem;
}

.languageBtn > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check_toggle_round_flat:checked ~ .off {
  color: #f36f25;
}

input.check_toggle_round_flat:checked ~ .on {
  color: #ffff;
}

.languageBtn > span.en {
  left: 0;
  padding-left: 2px;
  color: #f36f25;
}

.languageBtn > span.hi {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check_toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check_toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check_toggle_round_flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #f36f25;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check_toggle_round_flat + label:before,
input.check_toggle_round_flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check_toggle_round_flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #f36f25;
  -webkit-moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check_toggle_round_flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check_toggle_round_flat:checked + label {
}

input.check_toggle_round_flat:checked + label:after {
  margin-left: 44px;
}

.card {
  margin: 2.5rem 10rem;
  padding: 2.5rem 0.75rem;
  width: fit-content;
  border-radius: 1.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contentTitle h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  -webkit-transition: color 1.5s;
  -moz-transition: color 1.5s;
  -ms-transition: color 1.5s;
  -o-transition: color 1.5s;
  transition: color 1.5s;
}

.contentTitle h1:hover {
  color: var(--color-safron);
  text-decoration: none;
}

.titleText {
  font-size: small;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.content p {
  margin: 2rem 0rem;
  font-size: 1rem;
  font-weight: 200;
}
