.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: var(--color-white);
  font-size: 0.8rem;
}

/* ==================== MEDIA QUERIES (Tablets) ==================== */
@media only screen and (max-width: 1200px) {
  .footer {
    display: none;
  }
}

/* ==================== MEDIA QUERIES (Big SmartPhones) ==================== */
@media only screen and (max-width: 600px) {
}

/* ==================== MEDIA QUERIES (Small SmartPhones) ==================== */
@media only screen and (max-width: 425px) {
}
